/* NAV CONTAINER */
.navContainer {
    position:fixed;
    width:100%;
    top:0;
    background-image:linear-gradient(#eeeeee, #eeeeeedd, #eeeeeecc, #eeeeee00);
}

.navBox {
    position:relative;
    top:0;
    width:100%;
    padding-top:1rem;
    padding-bottom:1rem;
    z-index: 1000;

}

/* TEXT CONTAINER */
.yesBox {
    width:100%;
    display:flex;
    justify-content: center;
    font-size:1.5rem;
    & > span {
        transition: all 200ms ease;
        &:hover {
            transform:translateY(-0.1rem);
        }
        cursor: pointer;
    }
}





